.form{
    padding-top: 150px;
}
a{
    color: blue;
    margin-right: 15px;
}
#textbox{
    border-radius: 25px;
    height:35px;
    width: 500px;
    font-size:20px;
    border-color: #f8f9fa;
}
@button{
    padding: 2px;
    width: 150px;
}
#butt{
    background-color: #f8f9fa;
    border: transparent;
       
}

#lucky{
    margin-left: 10px;
    background-color: #f8f9fa;
    border: transparent;

}
#butt:hover,#lucky:hover{
    background-color: #f1f1f1;
}
#endlf{
    font-size: 15px;
    margin-left: 40px;
    color:#70757a;
}
#endl{
    font-size: 15px;
    margin-left: 10px;
    color:#70757a;

}
#endpage{
    text-align: left;
    background-color:#f2f2f2;
    height: 90px;
}
#india{
    padding-top: 100px;
    font-size: 15px;
    margin-left: 40px;
    color: #70757a;
}
#endrf{
    font-size: 15px;
    margin-left: 920px;
    color: #70757a;
}
#endr{
    font-size: 15px;
    margin-left: 10px;
    color: #70757a;
}

